<template>
  <section>
    <v-layout align-center>
      <v-tabs icons-and-text v-model="activeTab">
        <v-tab key="list">
          {{ $t("navigation.list") }}
          <v-icon>fas fa-list</v-icon>
        </v-tab>
        <v-tab key="map">
          {{ $t("navigation.map") }}
          <v-icon>fas fa-map</v-icon>
        </v-tab>
        <v-tab key="import" disabled>
          {{ $t("navigation.import") }}
          <v-icon>fas fa-file-upload</v-icon>
        </v-tab>
      </v-tabs>
      <v-spacer />
      <v-btn @click="$refs.dialog.open()">
        <v-icon left>fas fa-plus</v-icon>{{ $t("actions.create") }}
      </v-btn>
    </v-layout>
    <address-filter @change="onFilterChange" />
    <v-tabs-items v-model="activeTab">
      <v-tab-item key="list">
        <v-data-table :items="filteredItems" :headers="headers" :pagination.sync="pagination">
          <template slot="headerCell" slot-scope="{header}">
            <span>{{ $t("fields." + header.text) }}</span>
          </template>
          <template slot="items" slot-scope="{item}">
            <td class="pl-2 pr-0">
              <status-label :value="item.status"/>
            </td>
            <td>
              <router-link :to="{name: 'address', params: item}">{{ item.fullAddress }}</router-link>
            </td>
            <td>{{item.name}}</td>
            <td>{{item.phoneNumber}}</td>
            <td>
              <router-link v-if="item.territory.name" :to="{name: 'territory', params: item.territory}">{{ item.territory.name }}</router-link>
              <span v-else>n/a</span>
            </td>
          </template>
        </v-data-table>
      </v-tab-item>
      <v-tab-item key="map">
        <features-map :visible="activeTab === 1" :top="136" :features="addressFeatures">
          <template slot="popup" slot-scope="{properties}">
            <v-card-text>
              <div class="subheading">
                <router-link :to="{name: 'address', params: properties}">{{properties.fullAddress}}</router-link>
              </div>
              <div>{{properties.name}}</div>
              <div>{{properties.phoneNumber}}</div>
              <status-label :value="properties.status"/>
            </v-card-text>
          </template>
        </features-map>
      </v-tab-item>
    </v-tabs-items>
    <address-dialog ref="dialog" @save="saved => $router.push({name: 'address', params: saved})"></address-dialog>
  </section>
</template>
<script>
import viewMixin from "./view.mixin";
import StatusLabel from "../components/StatusLabel";
import FeaturesMap from "../components/FeaturesMap";
import AddressDialog from "../components/AddressDialog";
import AddressFilter from "../components/AddressFilter";

export default {
  name: "Addresses",
  components: { AddressFilter, AddressDialog, FeaturesMap, StatusLabel },
  mixins: [viewMixin],
  data() {
    return {
      activeTab: null,
      filters: null,
      pagination: { page: 1, rowsPerPage: 10, sortBy: "statusOrder" },
      headers: [
        { text: "status", value: "statusOrder", width: 150 },
        { text: "address", value: "fullAddress", sortable: false },
        { text: "name", value: "name" },
        { text: "phoneNumber", value: "phoneNumber" },
        { text: "territory", value: "territory.name" }
      ]
    };
  },
  created() {
    this.loadAddresses();
  },
  computed: {
    filteredItems() {
      return this.addresses.filter(a => a.matches(this.filters));
    },
    addressFeatures() {
      return this.filteredItems.map(a => a.toGeoJSON());
    }
  },
  methods: {
    onFilterChange(filters) {
      this.filters = filters;
      this.pagination.page = 1;
    }
  }
};
</script>
