<template>
  <section>
    <v-layout>
      <field-list>
        <static-field field="territory" v-if="address.territory">
          <router-link :to="{name: 'territory', params: address.territory}">{{address.territory.name}}</router-link>
        </static-field>
        <static-field field="address" :value="address.fullAddress" />
        <static-field field="name" :value="address.name" />
        <static-field field="phoneNumber" :value="address.phoneNumber" />
        <static-field field="status">
          <status-label :value="address.status"/>
        </static-field>
        <static-field v-if="address.createdOn" field="createdOn" :value="$d(address.createdOn)" />
        <static-field v-if="address.modifiedOn" field="modifiedOn" :value="$d(address.modifiedOn)" />

        <v-btn @click="$refs.dialog.open(address)">
          <v-icon left>fas fa-edit</v-icon>{{ $t("actions.edit") }}
        </v-btn>
      </field-list>
      <v-flex>
        <div>{{history}}</div>
      </v-flex>
    </v-layout>
    <address-dialog ref="dialog" @save="edited => setAddress(edited)" />
  </section>
</template>
<script>
import { mapMutations } from "vuex";
import viewMixin from "./view.mixin";
import FieldList from "../components/FieldList";
import { getAddressHistory } from "../../../shared/services/address.service";
import StaticField from "../components/StaticField";
import StatusLabel from "../components/StatusLabel";
import AddressDialog from "../components/AddressDialog";

export default {
  name: "Address",
  components: { AddressDialog, StatusLabel, StaticField, FieldList },
  mixins: [viewMixin],
  props: { id: String },
  data() {
    return {
      isLoading: false,
      history: []
    };
  },
  async mounted() {
    await this.loadAddress(this.id);
    this.setTitle(this.$t("navigation.address"), this.address.name);
    this.loadData();
  },
  methods: {
    async loadData() {
      try {
        this.isLoading = true;
        this.history = await getAddressHistory(this.id);
      } finally {
        this.isLoading = false;
      }
    },
    ...mapMutations(["setAddress"])
  },
  watch: {
    id: "loadData"
  }
};
</script>
