<template>
  <section>
    <div class="pa-4">
      <h2>All Addresses</h2>
      <the-address-stats />
    </div>
    <div class="pa-4">
      <h2>All Territories</h2>
      <the-territory-stats />
    </div>
  </section>
</template>
<script>
import TheAddressStats from "../components/TheAddressStats";
import TheTerritoryStats from "../components/TheTerritoryStats";
export default {
  name: "Home",
  components: { TheTerritoryStats, TheAddressStats }
};
</script>
