<template>
  <v-container fluid fill-height>
    <v-layout align-center justify-center>
      <v-flex xs12 sm8 md4>
        <v-card class="elevation-12">
          <v-list v-if="accounts.length > 1">
            <v-list-tile v-for="account in accounts" :key="account.id" @click="chooseAccount(account)">
              <v-list-tile-content>
                <v-list-tile-title>{{account.name}}</v-list-tile-title>
              </v-list-tile-content>
              <v-list-tile-action><v-icon>fas fa-arrow-right</v-icon></v-list-tile-action>
            </v-list-tile>
          </v-list>
          <v-tabs v-else v-model="activeTab" grow>
            <v-tab key="login">{{$t("navigation.login")}}</v-tab>
            <v-tab key="reset">{{$t("navigation.resetPassword")}}</v-tab>
            <v-tab-item key="login">
              <v-card-text>
                <v-form v-model="isLoginValid">
                  <v-text-field
                    v-model="user.username"
                    :label="$t('fields.username')"
                    :rules="rules.username"
                    autofocus
                    @keydown.enter="login"
                  />
                  <v-text-field
                    v-model="user.password"
                    type="password"
                    :label="$t('fields.password')"
                    :rules="rules.password"
                    @keydown.enter="login"
                  />
                </v-form>
                <div class="py-3 caption font-italic">
                  This is only a demo, so you can log in as <kbd>user1</kbd>, <kbd>user2</kbd>, or <kbd>admin1</kbd> with any password.
                </div>
              </v-card-text>
              <v-card-actions>
                <v-spacer/>
                <v-btn
                  v-text="$t('actions.login')"
                  color="primary"
                  type="submit"
                  @click="login"
                  :disabled="!isLoginValid || isLoading"
                  :loading="isLoading"
                />
              </v-card-actions>
            </v-tab-item>
            <v-tab-item key="reset">
              <v-card-text>
                <v-form v-model="isResetValid">
                  <v-text-field
                    v-model="user.username"
                    :label="$t('fields.username')"
                    :rules="rules.username"
                    autofocus
                  />
                </v-form>
              </v-card-text>
              <v-card-actions>
                <v-spacer/>
                <v-btn
                  v-text="$t('actions.reset')"
                  color="primary"
                  type="submit"
                  @click="reset"
                  :disabled="!isResetValid || isLoading"
                  :loading="isLoading"
                />
              </v-card-actions>
            </v-tab-item>
          </v-tabs>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>
<script>
import { mapMutations } from "vuex";
import viewMixin from "./view.mixin";
import { makeRequiredRule } from "../../../shared/models/model-utils";
import { loginUser, resetPassword } from "../services/auth.service";

export default {
  name: "Login",
  mixins: [viewMixin],
  data() {
    const t = this.$t.bind(this);
    return {
      activeTab: null,
      accounts: [],
      rules: {
        username: [makeRequiredRule(t, "username")],
        password: [makeRequiredRule(t, "password")]
      },
      user: {
        username: "",
        password: ""
      },
      isLoginValid: false,
      isResetValid: false,
      isLoading: false
    };
  },
  methods: {
    async login() {
      if (!this.isLoginValid) return;
      try {
        this.isLoading = true;
        const { user, accounts } = await loginUser(this.user);
        this.setUser(user);
        this.accounts = Array.isArray(accounts) ? accounts : [];
        if (this.accounts.length === 1) this.chooseAccount(this.accounts[0]);
      } catch (err) {
        this.showAlertError(err);
      } finally {
        this.isLoading = false;
      }
    },
    async reset() {
      if (!this.isResetValid) return;
      try {
        this.isLoading = true;
        await resetPassword(this.user);
        this.activeTab = 0;
      } catch (err) {
        this.showAlertError(err);
      } finally {
        this.isLoading = false;
      }
    },
    chooseAccount(account) {
      this.setAccount(account);
      this.$router.replace("/");
    },
    ...mapMutations(["setUser", "setAccount"])
  }
};
</script>
