<template>
  <section>
    <v-layout align-center>
      <v-tabs icons-and-text v-model="activeTab">
        <v-tab key="list">
          {{ $t("navigation.list") }}
          <v-icon>fas fa-list</v-icon>
        </v-tab>
        <v-tab key="map">
          {{ $t("navigation.map") }}
          <v-icon>fas fa-map</v-icon>
        </v-tab>
      </v-tabs>
      <v-spacer />
      <v-btn @click="$refs.dialog.open()">
        <v-icon left>fas fa-plus</v-icon>{{ $t("actions.create") }}
      </v-btn>
    </v-layout>
    <v-tabs-items v-model="activeTab">
      <v-tab-item key="list">
        <v-data-table :items="territories" :headers="headers" :pagination.sync="pagination">
          <template slot="headerCell" slot-scope="{header}">
            <span>{{ $t("fields." + header.text) }}</span>
          </template>
          <template slot="items" slot-scope="{item}">
            <td>
              <status-label :value="item.status"/>
            </td>
            <td>
              <router-link :to="{name: 'territory', params: item}">{{ item.name }}</router-link>
            </td>
            <td><type-label :value="item.type"/></td>
          </template>
        </v-data-table>
      </v-tab-item>
      <v-tab-item key="map">
        <features-map :visible="activeTab === 1" :features="boundaryFeatures" :top="72">
          <v-card-text slot="popup" slot-scope="{properties}">
            <div class="subheading">
              <router-link :to="{name: 'territory', params: properties}">{{properties.name}}</router-link>
            </div>
          </v-card-text>
        </features-map>
      </v-tab-item>
    </v-tabs-items>
    <territory-dialog ref="dialog" @save="saved => $router.push({name: 'territory', params: saved})"></territory-dialog>
  </section>
</template>
<script>
import TypeLabel from "../components/TypeLabel";
import StatusLabel from "../components/StatusLabel";
import FeaturesMap from "../components/FeaturesMap";
import viewMixin from "./view.mixin";
import TerritoryDialog from "../components/TerritoryDialog";

export default {
  name: "Territories",
  components: { TerritoryDialog, FeaturesMap, StatusLabel, TypeLabel },
  mixins: [viewMixin],
  data() {
    return {
      activeTab: null,
      appHeight: 250,
      filters: { name: null, type: null, status: null },
      pagination: { page: 1, rowsPerPage: 10, sortBy: "name" },
      headers: [
        { text: "status", value: "status", width: 200 },
        { text: "name", value: "name" },
        { text: "type", value: "type" }
      ]
    };
  },
  created() {
    this.loadTerritories();
    this.loadBoundaries();
  },
  computed: {
    boundaryFeatures() {
      return this.boundaries.map(b => b.toGeoJSON());
    }
  }
};
</script>
