<template>
  <section>
    <v-layout>
      <field-list>
        <static-field field="name" :value="territory.name" />
        <static-field field="type">
          <type-label :value="territory.type"/>
        </static-field>
        <static-field field="status">
          <status-label :value="territory.status"/>
        </static-field>
        <static-field v-if="territory.createdOn" field="createdOn" :value="$d(territory.createdOn)" />
        <static-field v-if="territory.modifiedOn" field="modifiedOn" :value="$d(territory.modifiedOn)" />
        <v-btn @click="$refs.dialog.open(territory)">
          <v-icon left>fas fa-edit</v-icon>{{ $t("actions.edit") }}
        </v-btn>
        {{activeTab}}
      </field-list>
      <v-flex>
        <v-tabs icons-and-text v-model="activeTab">
          <v-tab key="list">
            {{ $t("navigation.list") }}
            <v-icon>fas fa-list</v-icon>
          </v-tab>
          <v-tab key="history">
            {{ $t("navigation.history") }}
            <v-icon>fas fa-history</v-icon>
          </v-tab>
          <v-tab key="map">
            {{ $t("navigation.map") }}
            <v-icon>fas fa-map</v-icon>
          </v-tab>
        </v-tabs>
        <v-tabs-items v-model="activeTab">
          <v-tab-item key="list">
            <address-filter @change="onFilterChange" />
            <v-data-table :items="filteredItems" :headers="headers" :pagination.sync="pagination">
              <template slot="headerCell" slot-scope="{header}">
                <span>{{ $t("fields." + header.text) }}</span>
              </template>
              <template slot="items" slot-scope="{item}">
                <td>
                  <status-label :value="item.status"/>
                </td>
                <td>
                  <router-link :to="{name: 'address', params: item}">{{ item.name }}</router-link>
                </td>
                <td>{{item.fullAddress}}</td>
              </template>
            </v-data-table>
          </v-tab-item>
          <v-tab-item key="history">
            <v-timeline>
              <v-timeline-item v-for="item in history" :key="item.id" small fill-dot>
                <v-card>
                  <v-card-text>
                    <div>{{ $d(item.createdOn) }}</div>
                    <div>{{ item.status }}: {{ item.userId }}</div>
                  </v-card-text>
                </v-card>
              </v-timeline-item>
            </v-timeline>
          </v-tab-item>
          <v-tab-item key="map">
            <features-map :visible="activeTab === 2" :features="territoryFeatures" :top="72" :key="territory.id" />
          </v-tab-item>
        </v-tabs-items>
      </v-flex>
    </v-layout>
    <territory-dialog ref="dialog" @save="edited => setTerritory(edited)"/>
  </section>
</template>
<script>
import { mapMutations } from "vuex";
import viewMixin from "./view.mixin";
import StaticField from "../components/StaticField";
import TypeLabel from "../components/TypeLabel";
import StatusLabel from "../components/StatusLabel";
import FieldList from "../components/FieldList";
import { getTerritoryAddresses } from "../../../shared/services/address.service";
import { getTerritoryHistory } from "../../../shared/services/territory.service";
import TerritoryDialog from "../components/TerritoryDialog";
import FeaturesMap from "../components/FeaturesMap";
import AddressFilter from "../components/AddressFilter";

export default {
  name: "Territory",
  mixins: [viewMixin],
  components: {
    AddressFilter,
    FeaturesMap,
    TerritoryDialog,
    FieldList,
    StatusLabel,
    TypeLabel,
    StaticField
  },
  props: { id: String },
  data() {
    return {
      activeTab: null,
      isLoading: false,
      filters: null,
      territoryAddresses: [],
      history: [],
      pagination: { page: 1, rowsPerPage: 10, sortBy: "statusOrder" },
      headers: [
        { text: "status", value: "statusOrder", width: 200 },
        { text: "name", value: "name" },
        { text: "address", value: "fullAddress", sortable: false }
      ]
    };
  },
  async mounted() {
    this.loadBoundary(this.id);
    this.loadData();
    await this.loadTerritory(this.id);
    this.setTitle(this.$t("navigation.territory"), this.territory.name);
  },
  computed: {
    filteredItems() {
      return this.territoryAddresses.filter(a => a.matches(this.filters));
    },
    territoryFeatures() {
      return this.territoryAddresses
        .map(a => a.toGeoJSON())
        .concat([this.boundary.toGeoJSON()]);
    }
  },
  methods: {
    async loadData() {
      try {
        this.isLoading = true;
        this.territoryAddresses = await getTerritoryAddresses(this.id);
        this.history = await getTerritoryHistory(this.id);
      } finally {
        this.isLoading = false;
      }
    },
    onFilterChange(filters) {
      this.filters = filters;
      this.pagination.page = 1;
    },
    ...mapMutations(["setTerritory"])
  },
  watch: {
    id: "loadData"
  }
};
</script>
