<template>
  <v-toolbar flat>
    <v-flex sm6>
      <v-text-field v-model="query" @input="onInput" :label="$t('actions.search')" prepend-icon="fas fa-search" />
    </v-flex>
    <v-flex sm6>
      <v-select v-model="statuses" @input="onInput" multiple :label="$t('fields.status')" :items="statusItems" clearable/>
    </v-flex>
  </v-toolbar>
</template>
<script>
import { getValueList } from "../types";
import { ADDRESS_STATUSES } from "../../../shared/types";

export default {
  name: "AddressFilter",
  data() {
    return {
      query: null,
      statuses: []
    };
  },
  computed: {
    statusItems() {
      const t = this.$t.bind(this);
      return getValueList(ADDRESS_STATUSES, t);
    }
  },
  methods: {
    onInput() {
      this.$emit("change", { statuses: this.statuses, query: this.query });
    }
  }
};
</script>
