<template>
  <v-dialog v-model="isOpen" width="600">
    <v-form ref="form" v-model="isValid">
      <v-card>
        <v-card-title v-text="$t('navigation.address')" class="headline" primary-title/>
        <v-card-text>
          <v-textarea v-model="dataModel.streetAddress" :label="$t('fields.streetAddress')" :rules="rules.streetAddress" rows="2" auto-grow/>
          <v-layout>
            <v-text-field v-model="dataModel.city" :label="$t('fields.city')" :rules="rules.city"/>
            <v-text-field v-model="dataModel.postalCode" :label="$t('fields.postalCode')" :rules="rules.postalCode"/>
          </v-layout>
          <v-layout>
            <v-text-field v-model="dataModel.name" :label="$t('fields.name')" :rules="rules.name"/>
            <v-text-field v-model="dataModel.phoneNumber" :label="$t('fields.phoneNumber')"/>
          </v-layout>
          <v-select v-model="dataModel.status" :label="$t('fields.status')" :items="statusItems"/>
          <v-textarea v-model="dataModel.notes" :label="$t('fields.notes')" rows="2" auto-grow/>
        </v-card-text>
        <v-card-actions>
          <v-btn flat v-text="$t('actions.cancel')" @click="isOpen = false" />
          <v-spacer />
          <v-btn v-text="$t('actions.save')" color="primary" @click="save" :disabled="!isValid" :loading="isSaving"/>
        </v-card-actions>
      </v-card>
    </v-form>
  </v-dialog>
</template>
<script>
import {
  AddressModel,
  getAddressRules
} from "../../../shared/models/address.model";
import { getValueList } from "../types";
import { saveAddress } from "../../../shared/services/address.service";
import { ADDRESS_STATUSES } from "../../../shared/types";

export default {
  name: "AddressDialog",
  data() {
    return {
      isValid: false,
      isOpen: false,
      isSaving: false,
      dataModel: new AddressModel(),
      statusItems: [],
      rules: {}
    };
  },
  mounted() {
    const t = this.$t.bind(this);
    this.rules = getAddressRules(t);
    this.statusItems = getValueList(ADDRESS_STATUSES, t);
  },
  methods: {
    open(item) {
      this.$refs.form.resetValidation();
      this.isOpen = true;
      this.isSaving = false;
      this.dataModel = item ? item.makeCopy() : new AddressModel();
    },
    async save() {
      try {
        this.isSaving = true;
        const newAddress = await saveAddress(this.dataModel);
        this.isOpen = false;
        this.$emit("save", newAddress);
      } finally {
        this.isSaving = false;
      }
    }
  }
};
</script>
