<template>
  <vl-map :style="mapStyle" ref="map" data-projection="EPSG:4326">
    <vl-view ref="mapView" :min-zoom="3" />
    <vl-layer-tile>
      <vl-source-xyz :url="sourceUrl" />
    </vl-layer-tile>
    <vl-layer-vector>
      <vl-source-vector :features="features" />
      <vl-style-box>
        <vl-style-stroke color="black" :width="2" />
        <vl-style-fill color="rgba(0,0,0,0.25)" />
        <vl-style-circle :radius="6">
          <vl-style-stroke color="white" :width="2" />
          <vl-style-fill :color="$vuetify.theme.primary" />
        </vl-style-circle>
      </vl-style-box>
    </vl-layer-vector>
    <vl-interaction-select :features.sync="selectedFeatures" v-if="selectEnabled">
      <template slot-scope="select">
        <vl-style-box>
          <vl-style-stroke :color="$vuetify.theme.accent" :width="7" />
          <vl-style-fill :color="[254, 255, 255, 0.5]" />
          <vl-style-circle :radius="6">
            <vl-style-stroke :color="$vuetify.theme.accent" :width="4" />
            <vl-style-fill color="white" />
          </vl-style-circle>
        </vl-style-box>
        <vl-overlay v-for="feature in select.features" :key="feature.id"
                    :id="feature.id" :position="pointOnSurface(feature.geometry)" :auto-pan="true" :auto-pan-animation="{ duration: 300 }">
          <v-card slot-scope="popup" class="elevation-12" style="min-width:300px">
            <slot name="popup" :properties="feature.properties">
              <pre>{{feature.properties}}</pre>
            </slot>
          </v-card>
        </vl-overlay>
      </template>
    </vl-interaction-select>
  </vl-map>
</template>
<script>
import gb from "geojson-bounds";
import { extentFromLonLat, findPointOnSurface } from "vuelayers/lib/ol-ext";

export default {
  name: "FeaturesMap",
  props: {
    features: Array,
    top: { type: Number, default: 0 },
    tileLayer: { type: String, default: "positron" },
    visible: { type: Boolean, default: true },
    selectEnabled: { type: Boolean, default: true }
  },
  data() {
    return { selectedFeatures: [] };
  },
  computed: {
    sourceUrl() {
      return (
        "https://maps.tilehosting.com/styles/" +
        this.tileLayer +
        "/{z}/{x}/{y}.png?key=" +
        process.env.VUE_APP_MAP_KEY
      );
    },
    mapStyle() {
      const height = this.$store.state.appRect.height - this.top;
      return { height: height + "px" };
    }
  },
  methods: {
    initialize() {
      const { map, mapView } = this.$refs;

      // set initial view to the extent of the features
      const fc = { type: "FeatureCollection", features: this.features };
      setTimeout(() => {
        map.refresh();
        if (Array.isArray(fc.features) && fc.features.length > 0) {
          mapView.fit(extentFromLonLat(gb.extent(fc)));
        }
      }, 250);
    },
    pointOnSurface: findPointOnSurface
  },
  watch: {
    features: "initialize",
    visible: "initialize"
  }
};
</script>
