<template>
  <div class="field-list ma-3">
    <slot></slot>
  </div>
</template>
<script>
export default {
  name: "FieldList"
};
</script>
<style lang="stylus">
.field-list
  width: 20rem
  min-width: 20rem
</style>
