<template>
  <v-chip :color="statusColor" :dark="isDark">
    <v-avatar>
      <v-icon small>{{statusIcon}}</v-icon>
    </v-avatar>
    {{ statusText }}
  </v-chip>
</template>
<script>
import { STATUS_IS_DARK, STATUS_COLORS, STATUS_ICONS } from "../types";

export default {
  name: "StatusLabel",
  props: { value: String },
  computed: {
    statusText() {
      return this.value ? this.$t("values." + this.value) : "";
    },
    statusColor() {
      return STATUS_COLORS[this.value] || "";
    },
    statusIcon() {
      return STATUS_ICONS[this.value] || "fas fa-square";
    },
    isDark() {
      return STATUS_IS_DARK[this.value];
    }
  }
};
</script>
