<template>
  <fieldset class="static-field">
    <label class="caption">{{$t("fields." + field)}}</label>
    <div class="body-2"><slot>{{value}}</slot></div>
  </fieldset>
</template>
<script>
export default {
  name: "StaticField",
  props: { field: String, value: String }
};
</script>
<style lang="stylus">
.static-field
  border: none
  margin-bottom: 1rem
</style>
