<template>
  <v-dialog v-model="isOpen" width="400">
    <v-form ref="form" v-model="isValid">
      <v-card>
        <v-card-title
          v-text="$t('navigation.territory')"
          class="headline"
          primary-title
        />
        <v-card-text>
          <v-text-field
            v-model="dataModel.name"
            :label="$t('fields.name')"
            :rules="rules.name"
          />
          <v-select
            v-model="dataModel.type"
            :label="$t('fields.type')"
            :items="typesItems"
            :rules="rules.type"
          />
          <v-select
            v-model="dataModel.status"
            :label="$t('fields.status')"
            :items="statusItems"
            :rules="rules.status"
          />
        </v-card-text>
        <v-card-actions>
          <v-btn flat v-text="$t('actions.cancel')" @click="isOpen = false" />
          <v-spacer />
          <v-btn
            v-text="$t('actions.save')"
            color="primary"
            @click="save"
            :disabled="!isValid"
            :loading="isSaving"
          />
        </v-card-actions>
      </v-card>
    </v-form>
  </v-dialog>
</template>
<script>
import {
  TerritoryModel,
  getTerritoryRules
} from "../../../shared/models/territory.model";
import { getValueList } from "../types";
import { saveTerritory } from "../../../shared/services/territory.service";
import { TERRITORY_STATUSES, TERRITORY_TYPES } from "../../../shared/types";

export default {
  name: "TerritoryDialog",
  data() {
    return {
      isValid: false,
      isOpen: false,
      isSaving: false,
      dataModel: new TerritoryModel(),
      statusItems: [],
      typesItems: [],
      rules: {}
    };
  },
  mounted() {
    const t = this.$t.bind(this);
    this.rules = getTerritoryRules(t);
    this.statusItems = getValueList(TERRITORY_STATUSES, t);
    this.typesItems = getValueList(TERRITORY_TYPES, t);
  },
  methods: {
    open(item) {
      this.$refs.form.resetValidation();
      this.isOpen = true;
      this.isSaving = false;
      this.dataModel = item ? item.makeCopy() : new TerritoryModel();
    },
    async save() {
      try {
        this.isSaving = true;
        const newTerritory = await saveTerritory(this.dataModel);
        this.isOpen = false;
        this.$emit("save", newTerritory);
      } finally {
        this.isSaving = false;
      }
    }
  }
};
</script>
