<template>
  <stats-chart v-if="stats.statuses" :stats="stats.statuses" :height="180"/>
</template>
<script>
import { getAddressStats } from "../../../shared/services/address.service";
import StatsChart from "./StatsChart";

export default {
  name: "TheAddressStats",
  components: { StatsChart },
  data() {
    return { stats: {} };
  },
  async mounted() {
    this.stats = await getAddressStats();
  }
};
</script>
