<template>
  <v-menu left nudge-bottom="48">
    <v-btn flat icon slot="activator">
      <v-icon>fas fa-language</v-icon>
    </v-btn>
    <v-list>
      <v-list-tile v-for="locale in locales" :key="locale" @click="setLocale(locale)">
        <v-list-tile-title>{{ $t('languages.' + locale) }}</v-list-tile-title>
      </v-list-tile>
    </v-list>
  </v-menu>
</template>
<script>
export default {
  name: "LocaleChanger",
  data() {
    return {
      locales: ["en", "ja"]
    };
  },
  methods: {
    setLocale(locale) {
      this.$i18n.locale = locale;
    }
  }
};
</script>
