<template>
  <v-layout>
    <v-flex sm6>
      <stats-chart v-if="stats.statuses" :stats="stats.statuses" :height="180"/>
    </v-flex>
    <v-flex sm6>
      <stats-chart v-if="stats.types" :stats="stats.types" :height="180"/>
    </v-flex>
  </v-layout>
</template>
<script>
import { getTerritoryStats } from "../../../shared/services/territory.service";
import StatsChart from "./StatsChart";

export default {
  name: "TheTerritoryStats",
  components: { StatsChart },
  data() {
    return { stats: {} };
  },
  async mounted() {
    this.stats = await getTerritoryStats();
  }
};
</script>
