<template>
  <v-toolbar-items v-if="$vuetify.breakpoint.mdAndUp">
    <v-btn v-for="nav in navigation" :key="nav.to" flat :to="nav.to">
      <v-icon left>{{ nav.icon }}</v-icon>
      <span>{{ $t(nav.label) }}</span>
    </v-btn>
  </v-toolbar-items>
  <v-toolbar-items v-else>
    <v-menu nudge-bottom="48">
      <v-btn flat icon slot="activator">
        <v-icon>fas fa-bars</v-icon>
      </v-btn>
      <v-list>
        <v-list-tile v-for="nav in navigation" :key="nav.to" :to="nav.to">
          <v-list-tile-action><v-icon>{{ nav.icon }}</v-icon></v-list-tile-action>
          <v-list-tile-content>{{ $t(nav.label) }}</v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-menu>
  </v-toolbar-items>
</template>
<script>
export default {
  name: "TheTopNav",
  data() {
    return {
      navigation: [
        {
          to: "/addresses",
          icon: "fas fa-home",
          label: "navigation.addresses"
        },
        {
          to: "/territories",
          icon: "fas fa-map-marker",
          label: "navigation.territories"
        },
        {
          to: "/admin",
          icon: "fas fa-cog",
          label: "navigation.admin"
        }
      ]
    };
  }
};
</script>
