<template>
  <v-menu left nudge-bottom="48">
    <v-btn flat icon slot="activator">
      <v-icon>fas fa-user</v-icon>
    </v-btn>
    <v-list>
      <v-list-tile>
        <v-list-tile-content>
          <v-list-tile-title>{{user.name}}</v-list-tile-title>
          <v-list-tile-sub-title>{{account.name}}</v-list-tile-sub-title>
        </v-list-tile-content>
      </v-list-tile>
      <v-list-tile @click="logOut()">
        <v-list-tile-content>{{$t('actions.logout')}}</v-list-tile-content>
        <v-list-tile-action><v-icon>fas fa-sign-out-alt</v-icon></v-list-tile-action>
      </v-list-tile>
    </v-list>
  </v-menu>
</template>
<script>
import { mapState, mapMutations } from "vuex";
export default {
  name: "UserMenu",
  methods: {
    logOut() {
      this.setAccount(null);
      this.setUser(null);
      this.$router.replace("/login");
    },
    ...mapMutations(["setAccount", "setUser"])
  },
  computed: {
    ...mapState(["user", "account"])
  }
};
</script>
