<template>
  <v-chip>
    <v-avatar>
      <v-icon small>{{typeIcon}}</v-icon>
    </v-avatar>
    {{ typeText }}
  </v-chip>
</template>
<script>
const TYPE_ICONS = {
  business: "fas fa-building",
  standard: "fas fa-car",
  telephone: "fas fa-phone"
};
export default {
  name: "TypeLabel",
  props: { value: String },
  computed: {
    typeText() {
      return this.value ? this.$t("values." + this.value) : "";
    },
    typeIcon() {
      return TYPE_ICONS[this.value] || "";
    }
  }
};
</script>
