<template>
  <section id="home">
    <v-list>
      <v-list-tile v-for="territory in territories" :key="territory.id" :to="{name: 'territory', params: territory}">
        {{territory.name}}
      </v-list-tile>
    </v-list>
  </section>
</template>
<script>
import { getTerritories } from "../../../shared/services/territory.service";
export default {
  name: "Home",
  data() {
    return { territories: null };
  },
  async mounted() {
    // in reality, this would be a list of territories that the user has recently visited, not all of them
    this.territories = await getTerritories()
  }
};
</script>
