<template>
  <section id="territory">
    <div>{{id}}</div>
    <div>(territory map/list here)</div>
  </section>
</template>
<script>
  export default {
    name: "Territory",
    props: { id: String }
  };
</script>
