<template>
  <v-app>
    <v-toolbar app>
      <router-link id="header-logo" flat to="/">
        <img src="./assets/sunrise.svg" alt="logo" class="logo"/>
        <span class="headline">Hinode</span>
      </router-link>
      <the-top-nav v-if="showNav" />
      <v-spacer></v-spacer>
      <v-toolbar-items>
        <the-locale-changer/>
        <the-user-menu v-if="isLoggedIn" />
      </v-toolbar-items>
    </v-toolbar>
    <v-content v-resize="onResize">
      <router-view ref="appContent"/>
      <v-snackbar v-model="alert.show" :color="alert.color" bottom>{{alert.message}}</v-snackbar>
    </v-content>
  </v-app>
</template>
<script>
import { mapGetters, mapState } from "vuex";
import TheLocaleChanger from "./components/TheLocaleChanger";
import TheUserMenu from "./components/TheUserMenu";
import TheTopNav from "./components/TheTopNav";

export default {
  name: "App",
  components: { TheTopNav, TheUserMenu, TheLocaleChanger },
  computed: {
    showNav() {
      return !this.$route.meta.hideNav;
    },
    ...mapState(["alert"]),
    ...mapGetters(["isLoggedIn"])
  },
  methods: {
    onResize() {
      const rect = this.$refs.appContent.$el.getBoundingClientRect();
      this.$store.commit("setAppRect", rect);
    }
  }
};
</script>
<style lang="stylus">
  #header-logo
    display: flex
    align-items: center
    text-decoration: none
    padding-right: 16px
</style>
