@import '~vuetify/src/stylus/settings/_variables'

$body-font-family = -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif

@import '~vuetify/src/stylus/main'

img.logo
  width: 48px
  height: 48px
  padding-right: 8px

.v-content__wrap > section
  min-height: 100%
  position:relative

.col-date
  width: 10rem

.col-int
  width: 5rem
